<ion-list>
    <ion-list-header>
        <ion-label>
            <h2>Información de Scan</h2>
        </ion-label>

    </ion-list-header>
</ion-list>


<form #formulario="ngForm" (ngSubmit)="onSubmitScan()">
    <ion-list>
        <ion-item>
            <ion-label>Carga Masiva:</ion-label>
            <ion-checkbox color="primary" (ionChange)="updateSelect( $event )"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="estadoCheck === true ">
            <ion-label position="floating">Numero de Capturas: </ion-label>
            <ion-input type="text" name="noCapturas" disabled="false" [(ngModel)]="concentrado.noCapturas"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Id Dato Fijo:</ion-label>
            <ion-input type="text" name="idDatoFijo" [(ngModel)]="concentrado.idDatoFijo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">NumInv:</ion-label>
            <!-- <ion-input type="text" name="numInv" [(ngModel)]="activosInfo.numInv"></ion-input> -->
            <ion-input type="text" name="numInv"  [(ngModel)]="concentrado.numInv"></ion-input>
            <ion-button slot="end" expand="block" (click)="scan()">Buscar</ion-button>
        </ion-item>

        <ion-item>
            <ion-label position="floating">No_SAP:</ion-label>
            <ion-input type="text" name="noSAP" value="{{datosActivos.num_sap}}" [(ngModel)]="concentrado.noSap"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion:</ion-label>
            <ion-input type="text" name="descripcion" value="{{datosActivos.descripcion}}" [(ngModel)]="concentrado.descripcion"></ion-input>
            <!-- <ion-input type="text" name="descripcion" [(ngModel)]="activosInfo.descripcion"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ubicación Int:</ion-label>
            <ion-input type="text" name="ubicacionInt" value="{{dataLocal.infoScan.ubicacionInt}}" [(ngModel)]="concentrado.ubicacionInt"></ion-input>
            <!-- <ion-input type="text" name="ubicacionInt" [(ngModel)]="activosInfo.ubicacionInt"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ubicación Ant:</ion-label>
            <ion-input type="text" name="ubicacionAnt" [(ngModel)]="concentrado.ubicacionAnt"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Estado Fisico: </ion-label>
            <ion-input type="text" name="estadoFisico" [(ngModel)]="concentrado.edoFisico"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion Corta:</ion-label>
            <ion-input type="text" name="descCorta" value="{{dataLocal.infoScan.descCorta}}" [(ngModel)]="concentrado.descCorta"></ion-input>
            <!-- <ion-input type="text" name="descCorta" [(ngModel)]="activosInfo.descCorta"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Marca:</ion-label>
            <ion-input type="text" name="marca" value="{{dataLocal.infoScan.marca}}" [(ngModel)]="concentrado.marca"></ion-input>
            <!-- <ion-input type="text" name="marca" [(ngModel)]="activosInfo.marca"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Modelo:</ion-label>
            <ion-input type="text" name="modelo" value="{{dataLocal.infoScan.modelo}}" [(ngModel)]="concentrado.modelo"></ion-input>
            <!-- <ion-input type="text" name="modelo" [(ngModel)]="activosInfo.modelo"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Serie:</ion-label>
            <ion-input type="text" name="serie" value="{{dataLocal.infoScan.serie}}" [(ngModel)]="concentrado.serie"></ion-input>
            <!-- <ion-input type="text" name="serie" [(ngModel)]="activosInfo.serie"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Color:</ion-label>
            <ion-input type="text" name="color" value="{{dataLocal.infoScan.color}}" [(ngModel)]="concentrado.color"></ion-input>
            <!-- <ion-input type="text" name="color" [(ngModel)]="activosInfo.color"></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Dimensiones:</ion-label>
            <ion-input type="text" name="altura" value="{{dataLocal.infoScan.alto}}" [(ngModel)]="concentrado.dimensiones"></ion-input>
            <!-- <ion-input type="text" name="altura" [(ngModel)]="activosInfo.altura"></ion-input> -->
        </ion-item>
    </ion-list>
    <ion-buttons slot="end" expand="block">
        <ion-button type="submit" [disabled]="formulario.invalid">Limpiar</ion-button>
        <ion-button type="submit" [disabled]="formulario.invalid">Guardar</ion-button>
    </ion-buttons>
</form>