<ion-header no-border translucent>
    <ion-toolbar padding>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize> Captura </ion-title>
        <ion-label class="labelCaptura" slot="end" disabled>No capturas: {{ conteocap.total }}</ion-label>

    </ion-toolbar>
</ion-header>

<!--<ion-item *ngIf="dFijoCheck === 1">
    <ion-label position="floating ">Dato fijo combo</ion-label>
    <ion-select placeholder="Selecciona un dato fijo " type="text " name="idDatofijo " [(ngModel)]="concentrado.idDatofijo" (ionChange)="mostrarForm() " required>
        <ion-select-option *ngFor="let item of datos ">
            <ion-item>
                <ion-label>
                    <div>{{item.id_datos_fijos}}</div>

                </ion-label>
            </ion-item>
        </ion-select-option>
    </ion-select>

</ion-item>-->
<ion-list class="estilosform" radio-group *ngIf="dFijoCheck === 1">
    <ion-radio-group [(ngModel)]="concentrado.idDatofijo" (ionChange)="mostrarForm()">
        <ion-list-header>
            Seleccione un dato fijo
        </ion-list-header>
        <ion-item *ngFor="let item of datos ">
            <ion-label>
                <div><b>Nombre:</b> {{item.name}}</div>
                <div><b>Piso:</b> {{item.piso}}</div>
                <div><b>C.C:</b> {{item.centro_costos}}</div>
            </ion-label>
            <ion-radio value="{{item.id_datos_fijos}}"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>




<form class="estilosform" *ngIf="dFormCheck===true" #formulario="ngForm" (ngSubmit)="onSubmitScan() ">
    <ion-list>
        <!-- <ion-item>
            <ion-label>Carga Masiva:</ion-label>
            <ion-checkbox color="primary " (ionChange)="updateSelectCargaMasiva( $event ) "></ion-checkbox>
        </ion-item>-->
        <ion-row>
            <ion-col col-9>
                <ion-item>
                    <ion-label position="floating ">
                        <h2>Empresa/Cia
                            <p class="Campo-obligatorio">*</p>
                        </h2>
                    </ion-label>
                    <ion-input type="text " name="empresa" [(ngModel)]="concentrado.empresa" placeholder="campo obligatorio" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3>
                <ion-item>
                    <ion-label position="floating ">
                        <h2>Dato fijo:</h2>
                    </ion-label>
                    <ion-input type="text " name="datoFijo" [(ngModel)]="varDF" disabled></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item>

            <ion-label position="floating ">
                <h2>Codigo 1
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <!--<ion-input type="text " name="numInv" [(ngModel)]="concentrado.numInv " (ionChange)="getNumInv() " debounce="2000" placeholder="campo obligatorio" required></ion-input>-->
            <ion-input #input type="text " name="numInv" [(ngModel)]="concentrado.numInv " placeholder="campo obligatorio" required></ion-input>
            <ion-button (click)="getNumInv()" slot="end">Buscar</ion-button>
            <!--<ion-button *ngIf="estadoCheckC===t rue " slot="end " expand="block " (click)="scanCel() ">Capturar</ion-button>-->
        </ion-item>

        <!-- <ion-item>
            <ion-label>Capturar desde camara:</ion-label>
            <ion-checkbox color="primary " (ionChange)="updateSelectCamara( $event ) "></ion-checkbox>

        </ion-item> -->

        <!--<ion-item *ngIf="estadoCheck===true ">
            <ion-label position="floating ">Numero de Capturas: </ion-label>
            <ion-input type="text " name="noCapturas " disabled="false " [(ngModel)]="concentrado.noCapturas "></ion-input>
        </ion-item>-->
        <!-- <ion-item>
            <ion-label position="floating ">Id Dato Fijo:</ion-label>
            <ion-input type="text " name="idDatoFijo " [(ngModel)]="concentrado.idDatofijo "></ion-input>
        </ion-item>-->
        <!-- <ion-item>
            <ion-label position="floating ">Dato fijo combo</ion-label>
            <ion-select placeholder="Selecciona un dato fijo " type="text " name="idDatoFijo " [(ngModel)]="concentrado.idDatofijo ">
                <ion-select-option>Datofijo 1</ion-select-option>
                <ion-select-option>DatoFijo 2</ion-select-option>
                <ion-select-option>DatoFijo 3</ion-select-option>
                <ion-select-option>DatoFijo 4</ion-select-option>
                <ion-select-option>DatoFijo 5</ion-select-option>
            </ion-select>
        </ion-item>-->
        <!-- <ion-item>
            <ion-label position="floating ">Dato fijo combo</ion-label>
            <ion-select placeholder="Selecciona un dato fijo " type="text " name="idDatofijo " [(ngModel)]="concentrado.idDatofijo" required>
                <ion-select-option *ngFor="let item of datos ">
                    {{item.id_datos_fijos}}
                </ion-select-option>
            </ion-select>
        </ion-item>-->

        <ion-item>
            <ion-label position="floating ">
                <h2>Codigo 2
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text " name="noSAP" [(ngModel)]="concentrado.noSap" placeholder="campo obligatorio" required></ion-input>
            <ion-button (click)="BuscarSAP()" slot="end">Buscar</ion-button>

        </ion-item>
        <ion-item>
            <ion-label position="floating ">
                <h2>Descripción
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text " name="descripcion" [(ngModel)]="concentrado.descripcion" placeholder="campo obligatorio" required></ion-input>
            <!-- <ion-input type="text " name="descripcion " [(ngModel)]="activosInfo.descripcion "></ion-input> -->
        </ion-item>

        <!-- <ion-item>
            <ion-label position="floating ">Ubicación Ant:</ion-label>
            <ion-input type="text " name="ubicacionAnt" [(ngModel)]="concentrado.ubicacionAnt "></ion-input>
        </ion-item> -->

        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label position="floating ">
                        <h3>Marca</h3>
                    </ion-label>
                    <ion-input type="text " name="marca" [(ngModel)]="concentrado.marca"></ion-input>
                    <!-- <ion-input type="text " name="marca " [(ngModel)]="activosInfo.marca "></ion-input> -->
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label position="floating ">
                        <h3>Modelo</h3>
                    </ion-label>
                    <ion-input type="text " name="modelo" [(ngModel)]="concentrado.modelo"></ion-input>
                    <!-- <ion-input type="text " name="modelo " [(ngModel)]="activosInfo.modelo "></ion-input> -->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label position="floating ">
                <h3>Serie</h3>
            </ion-label>
            <ion-input type="text " name="serie" [(ngModel)]="concentrado.serie"></ion-input>
            <!-- <ion-input type="text " name="serie " [(ngModel)]="activosInfo.serie "></ion-input> -->
            <ion-button (click)="BuscarSerie()" slot="end">Buscar</ion-button>
        </ion-item>

        <!-- <ion-item>
            <ion-label position="floating">Dimensiones:</ion-label>
            <ion-input type="text " name="altura " [(ngModel)]="concentrado.dimensiones "></ion-input>
             <ion-input type="text " name="altura " [(ngModel)]="activosInfo.altura "></ion-input> 
        </ion-item> -->
        <ion-row>
            <ion-col col-3>
                <ion-item>
                    <ion-label position="floating">
                        <h3>Frente</h3>
                    </ion-label>
                    <ion-input type="text" name="largo" [(ngModel)]="concentrado.largo"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3>
                <ion-item>
                    <ion-label position="floating">
                        <h3>Fondo</h3>
                    </ion-label>
                    <ion-input type="text" name="ancho" [(ngModel)]="concentrado.ancho"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3>
                <ion-item>
                    <ion-label position="floating">
                        <h3>Alto</h3>
                    </ion-label>
                    <ion-input type="text" name="alto" [(ngModel)]="concentrado.alto"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label position="floating ">
                        <h2>Condición Física
                            <p class="Campo-obligatorio">*</p>
                        </h2>
                    </ion-label>
                    <ion-input type="text " name="estadoFisico" [(ngModel)]="concentrado.edoFisico" placeholder="campo obligatorio" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label position="floating ">
                        <h2>Color</h2>
                    </ion-label>
                    <ion-input type="text " name="color" [(ngModel)]="concentrado.color"></ion-input>
                    <!-- <ion-input type="text " name="color " [(ngModel)]="activosInfo.color "></ion-input> -->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label position="floating ">
                <h3>Ubicación
                    <p class="Campo-obligatorio">*</p>
                </h3>
            </ion-label>
            <ion-input type="text " name="ubicacion" [(ngModel)]="concentrado.ubicacion" placeholder="campo obligatorio" required></ion-input>
            <!-- <ion-input type="text " name="ubicacionInt " [(ngModel)]="activosInfo.ubicacionInt "></ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating ">
                <h2>Comentarios</h2>
            </ion-label>
            <ion-input type="text " name="descCorta" [(ngModel)]="concentrado.descCorta"></ion-input>
            <!-- <ion-input type="text " name="descCorta " [(ngModel)]="activosInfo.descCorta "></ion-input> -->
        </ion-item>
    </ion-list>
    <!--<ion-buttons slot="end " expand="block "></ion-buttons>-->


    <ion-button expand="full" type="submit" [disabled]="formulario.invalid">Guardar</ion-button>
    <ion-button *ngIf="edoButtonEdit===true " (click)="guardarEdicion()">Guardar Edición</ion-button>
    <ion-label position="floating">
        <h5 class="downrequired">
            <p class="Campo-obligatorio">*</p>Campos Obligatorios</h5>
    </ion-label>
    <ion-buttons slot="end " expand="block ">
        <ion-button (click)="getNumInv() ">Consultar</ion-button>
        <ion-button (click)="limpiarForm() ">Limpiar</ion-button>
    </ion-buttons>

</form>