.div-icon {
    height: 100%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-icon-child {
    width: 300px;
    height: 300px;
}

.content-inicio {
    background: #CCDCFF;
}