<ion-list-header>

    <h2>Información de Activos</h2>

</ion-list-header>



<form class="estilosform" #formulario="ngForm" (ngSubmit)="onSubmitDatosFijos()">
    <ion-list>
        <ion-item>
            <ion-label position="floating">
                <h2>
                    Id Empleado
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text" name="idEmpleado" [(ngModel)]="activo.idEmpleado" placeholder="campo obligatorio" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h3>Nombre</h3>
            </ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="activo.nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h2>
                    Centro Costos
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text" name="centroCosto" [(ngModel)]="activo.centroCostos" placeholder="campo obligatorio" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h3>Descripción/Área:</h3>
            </ion-label>
            <ion-input type="text" name="area" [(ngModel)]="activo.area"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h3>Codigo Inmueble:</h3>
            </ion-label>
            <ion-input type="text" name="codInmueble" [(ngModel)]="activo.codInmueble"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h2>
                    Piso
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text" name="piso" [(ngModel)]="activo.piso" placeholder="campo obligatorio" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                <h2>
                    Usuario
                    <p class="Campo-obligatorio">*</p>
                </h2>
            </ion-label>
            <ion-input type="text" name="usuario" [(ngModel)]="activo.usuario" placeholder="campo obligatorio" required></ion-input>
        </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="formulario.invalid">Guardar Datos</ion-button>

    <ion-label position="floating">
        <h5 class="downrequired">
            <p class="Campo-obligatorio">*</p>Campos Obligatorios</h5>
    </ion-label>

</form>