<!--<ion-progress-bar *ngIf="progressbar == 0" [value]="porcentaje" color="primary"></ion-progress-bar>
<ion-slides *ngIf="datosCaptura.length === 0 && porcentaje === 2">-->
<ion-list class="estilosform">
    <ion-radio-group (ionChange)="RadioChangeEvent($event)">
        <ion-list-header>
            <ion-label>
                Seleccione Tipo de Busqueda:
            </ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Codigo 1</ion-label>
            <ion-radio value="1" checked></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Codigo 2</ion-label>
            <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>No. Serie</ion-label>
            <ion-radio value="3"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>
<div class="estilosbarra">
    <ion-item>
        <ion-label position="floating ">
            <h2>Busqueda</h2>
        </ion-label>
        <ion-input #input type="text " name="busqueda" [(ngModel)]="textoBuscar" placeholder="busqueda" required></ion-input>
        <ion-button (click)=" busquedaRadio()" slot="end">Buscar</ion-button>
    </ion-item>
</div>
<ion-slides *ngIf="datosActivos.length === 0">
    <ion-slide>
        <ion-label>Introduzca un Codigo Valido</ion-label>
    </ion-slide>
</ion-slides>
<div *ngIf="datosActivos.length > 0">
    <ion-item-sliding *ngFor="let dato of datosActivos">
        <ion-item>
            <ion-label>
                <h3><strong>ID Capturas:</strong>{{dato.id_captura}}</h3>
                <p><strong>ID Dato Fijo:</strong>{{dato.id_dato_fijo}}</p>
                <p><strong>Num Inv:</strong>{{dato.num_inv}}</p>
                <p><strong>Num Sap</strong>{{ dato.num_sap }}</p>
                <p><strong>descripcion:</strong>{{dato.descripcion}}</p>
                <p><strong>Ubicacion:</strong> {{dato.ubicacion}}</p>
                <p><strong>Estatus:</strong>{{dato.estatus}}</p>
            </ion-label>

        </ion-item>
    </ion-item-sliding>
</div>