<ion-progress-bar *ngIf="progressbar == 0" [value]="porcentaje" color="primary"></ion-progress-bar>
<ion-slides *ngIf="datosCaptura.length === 0 && porcentaje === 2">
    <ion-slide>
        <ion-label>No hay datos guardados</ion-label>
    </ion-slide>
</ion-slides>
<div *ngIf="datosCaptura.length > 0 && porcentaje == 2">
    <ion-searchbar (ionChange)="buscar( $event )"></ion-searchbar>
    <ion-list #lista>
        <ion-item-sliding *ngFor="let dato of datosCaptura | filtro: textoBuscar: 'num_inv'">

            <ion-item>
                <ion-label>
                    <h3><strong>ID Capturas:</strong>{{dato.id_captura}}</h3>
                    <p><strong>ID Dato Fijo:</strong>{{dato.id_dato_fijo}}</p>
                    <p><strong>Num Inv:</strong>{{dato.num_inv}}</p>
                    <p><strong>Num Sap</strong>{{ dato.num_sap }}</p>
                    <p><strong>descripcion:</strong>{{dato.descripcion}}</p>
                    <p><strong>Ubicacion Int:</strong> {{dato.ubicacion_int}}</p>
                    <p><strong>Unnicacion Ant:</strong>{{dato.ubicacion_ant}}</p>
                    <p><strong>Estatus:</strong>{{dato.estatus}}</p>
                </ion-label>

            </ion-item>

        </ion-item-sliding>
    </ion-list>
</div>