<div class="estilosbarra">
    <ion-item>
        <ion-label position="floating ">
            <h2>Busqueda</h2>
        </ion-label>
        <ion-input #input type="text " name="nombre" [(ngModel)]="textoBuscar" placeholder="busqueda" required></ion-input>
        <ion-button (click)="getIdEmpleado()" slot="end">Buscar</ion-button>
    </ion-item>
</div>

<ion-slides *ngIf="datosFijos.length === 0">
    <ion-slide>
        <ion-label>Introduzca un Id de Empleado</ion-label>
    </ion-slide>
</ion-slides>
<div *ngIf="datosFijos.length > 0 ">
    <ion-item-sliding *ngFor="let dato of datosFijos">
        <ion-item>
            <ion-label>
                <h3><strong>ID Datos Fijos:</strong>{{dato.id_datos_fijos}}</h3>
                <p><strong>ID Empleado:</strong>{{dato.id_employee}}</p>
                <p><strong>Nombre:</strong>{{dato.nombre}}</p>
                <p><strong>Centro Costos:</strong>{{ dato.centro_costos }}</p>
                <p><strong>Descripción/Área:</strong>{{dato.area}}</p>
                <p><strong>Codigo Inmueble:</strong> {{dato.cod_inmueble}}</p>
                <p><strong>Piso:</strong>{{dato.piso}}</p>
                <p><strong>Usuario:</strong>{{dato.usuario}}</p>
            </ion-label>

        </ion-item>

        <!--<ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrar(dato)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>-->
    </ion-item-sliding>

</div>